.vis{
    display: none;
}

.color_1{
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
}

.color_2{
    background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);

}

.red{
    color: red;
    font-weight: bolder;
}